</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav mobile-nav">
            <ul class="main-header__item-list mobile-nav__item-list">
                <li class="main-header__item mobile-nav__item">
                    <a class="<%= path === '/timekeeping' ? 'active' : '' %>" href="/timekeeping">Timekeeping</a>
                </li>
                <li class="main-header__item mobile-nav__item">
                    <a class="<%= path === '/staffinfo' ? 'active' : '' %>" href="/">Staff Info</a>
                </li>
                <li class="main-header__item mobile-nav__item">
                    <a class="<%= path === '/workinghours' ? 'active' : '' %>" href="/workinghours">Working Hours
                    </a>
                </li>
                <li class="main-header__item mobile-nav__item">
                    <a class="<%= path === '/covid' ? 'active' : '' %>" href="/covid">COVID-19
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <% if (display) { %>
        <h2 id="disappear">Chào mừng bạn đến với trang <%= pageTitle %></h2>
    <% } %>