<div class='card__image c-avatar'>
    <img class='c-avatar__image' src='<%= staff.imageUrl %>' alt='<%= staff.name %>'>
    <span class='c-avatar__status <% if(staff.status == "Đang làm việc") { %>online<% } else { %>offline<% } %>'></span>
</div>
<div class="card__status clearfix">
    <input type="status" name="status" id="status" value="<%= staff.status %>" readonly>
</div>

<div class="form-control">
    <input type="hidden" name="imageUrl" id="imageUrl" value="<%= staff.imageUrl %>">
</div>
<div class="form-control">
    <input type="hidden" name="staffId" id="staffId" value="<%= staff._id %>">
</div>
<div class="form-control">
    <label for="companyId">Mã nhân viên</label>
    <input type="text" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
</div>
<div class="form-control">
    <label for="name">Họ tên nhân viên</label>
    <input type="text" name="name" id="name" value="<%= staff.name %>" readonly>
</div>