<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">

<%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/editstaff" method="POST">
            <div class='card__image c-avatar'>
                <img class='c-avatar__image' src='<%= staff.imageUrl %>' alt='<%= staff.name %>'>
                <span class='c-avatar__status <% if(staff.status == "Đang làm việc") { %>online<% } else { %>offline<% } %>'></span>
            </div>
            <div class="card__status clearfix">
                <input type="status" name="status" id="status" value="<%= staff.status %>" readonly>
            </div>

            <div class="form-control">
                <label for="imageUrl">Hình ảnh</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<%= staff.imageUrl %>">
            </div>
            <div class="form-control">
                <input type="hidden" name="staffId" id="staffId" value="<%= staff._id %>">
            </div>
            <div class="form-control">
                <label for="companyId">Mã nhân viên</label>
                <input type="text" name="companyId" id="companyId" value="<%= staff.companyId %>" disabled>
            </div>
            <div class="form-control">
                <label for="name">Họ tên nhân viên</label>
                <input type="text" name="name" id="name" value="<%= staff.name %>" disabled>
            </div>

            <div class="form-control">
                <label for="doB">Ngày sinh</label>
                <input type="date" name="doB" id="doB" value="<%= staff.doB %>" disabled>
            </div>
            <div class="form-control">
                <label for="salaryScale">Hệ số lương</label>
                <input type="number" name="salaryScale" id="salaryScale" step="0.01" value="<%= staff.salaryScale %>" disabled>
            </div>
            <div class="form-control">
                <label for="startDate">Ngày bắt đầu làm việc</label>
                <input type="date" name="startDate" id="startDate" value="<%= staff.startDate %>" disabled>
            </div>
            <div class="form-control">
                <label for="department">Khoa phòng</label>
                <input type="text" name="department" id="department" value="<%= staff.department %>" disabled>
            </div>
            <div class="form-control">
                <label for="annualLeave">Số ngày phép của năm</label>
                <input type="number" name="annualLeave" id="annualLeave" step="0.125" value="<%= staff.annualLeave %>" disabled>
            </div>
            
            <button class="btn" type="submit">Update</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>