<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/status.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (staffs.length > 0) { %> 
            <div class="grid">
                <% for (let staff of staffs) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= staff.name %></h1>
                        </header>
                        <hr>
                        <div class='card__image c-avatar'>
                            <img class='c-avatar__image' src='<%= staff.imageUrl %>' alt='<%= staff.name %>'>
                            <span class='c-avatar__status <% if(staff.status == "Đang làm việc") { %>online<% } else { %>offline<% } %>'></span>
                        </div>
                        <div class="card__status clearfix">
                            <input type="status" name="status" id="status" value="<%= staff.status %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="companyId">Mã nhân viên</label>
                            <input type="companyId" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="doB">Ngày sinh</label>
                            <input type="date" name="doB" id="doB" value="<%= staff.doB %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="salaryScale">Hệ số lương</label>
                            <input type="number" name="salaryScale" id="salaryScale" value="<%= staff.salaryScale %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="startDate">Ngày bắt đầu làm việc</label>
                            <input type="date" name="startDate" id="startDate" value="<%= staff.startDate %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="department">Khoa phòng</label>
                            <input type="text" name="department" id="department" value="<%= staff.department %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="annualLeave">Số ngày phép còn lại</label>
                            <input type="number" name="annualLeave" id="annualLeave" value="<%= staff.annualLeave %>" readonly>
                        </div>
                        <div class="card__actions">
                            <a href="/editstaff/<%= staff.companyId %>" class="btn">Edit</a>
                            <form action="/deletestaff" method="POST">
                                <input type="hidden" value="<%= staff.companyId %>" name="companyId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Staffs Found!</h1>
        <% } %>
        <div class="clearfix">
            <a href="/addstaff" class="btn" style="display: flex; justify-content: center; align-items: center; height: 40px; border: 2px solid green; margin: 1rem">Add staff</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>