<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/table.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <article class="card product-item">
                <form class="product-form">
                    <%- include('../includes/staffInfo_timekeeping.ejs') %>
                    <div class="card__actions">
                        <a href="/workinghours/info/<%= staff.companyId %>" class="btn">Get Working Hour Details</a>
                    </div>
                </form>
            </article>
            <article class="card product-table">
                <div>
                    <h2>Dữ liệu chấm công trong ngày</h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Ngày làm việc</th>
                                    <th>Nơi làm việc</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giờ kết thúc</th>
                                    <th>Số giờ làm (trong 1 lần chấm công)</th>
                                </tr>
                            </thead>
                                <tbody>
                                <% for (let dt of staff.details) { %>
                                <tr>
                                    <td><%= new Date(dt.date).toLocaleDateString('en-GB') %></td>
                                    <td><%= dt.workplace %></td>
                                    <td><%= dt.timeStart %></td>
                                    <td><%= dt.timeEnd ? dt.timeEnd : '--' %></td>
                                    <td><%= dt.timeEnd ? parseFloat(dt.workHours).toFixed(2) : 'chưa kết thúc' %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                         
                </div>

                <div>
                    <h2>Tổng kết giờ làm</h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Ngày làm việc</th>
                                    <th>Tổng số giờ làm trong ngày</th>
                                    <th>Số giờ đăng kí nghỉ</th>
                                    <th>Số giờ làm thêm</th>
                                    <th>Số giờ làm thiếu</th>
                                </tr>
                            </thead>
                                <tbody>
                                <% for (let twh of staff.total) { %>
                                <tr>
                                    <td><%= new Date(twh.date).toLocaleDateString('en-GB') %></td>
                                    <td><%= parseFloat(twh.totalWorkHours).toFixed(2) %></td>
                                    <td><%= twh.totalOffHours %></td>
                                    <td><%= (twh.totalWorkHours+ twh.totalOffHours) > 8 ? parseFloat(twh.totalWorkHours + twh.totalOffHours - 8).toFixed(2) : 0  %></td>
                                    <td><%= (twh.totalWorkHours+ twh.totalOffHours) < 8 ? parseFloat(8 - twh.totalWorkHours- twh.totalOffHours).toFixed(2) : 0 %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                         
                </div>

                <div>
                    <h2>Tổng kết lương tháng</h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Hệ số lương</th>
                                    <th>Tổng số giờ làm thêm (overTime)</th>
                                    <th>Tổng số giờ làm thiếu (underTime)</th>
                                </tr>
                            </thead>
                                <tbody>
                                <tr>
                                    <td><%= staff.salaryScale %></td>
                                    <% for (let twh of staff.total) { 
                                        let x = 0; 
                                        let y = 0; 
                                        if (twh.totalWorkHours + twh.totalOffHours > 8) {x = x + parseFloat(twh.totalWorkHours + twh.totalOffHours - 8).toFixed(2)}
                                        if (twh.totalWorkHours + twh.totalOffHours < 8) {y = y + parseFloat(8 - twh.totalWorkHours- twh.totalOffHours).toFixed(2)}
                                    } %>
                                    <td><%= x %></td>
                                    <td><%= y %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                         
                </div>
            </article>
        </div>
    </main>
<%- include('../includes/end.ejs') %>