<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/status.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <article class="card product-item">
                <form class="product-form">
                    <%- include('../includes/staffInfo_timekeeping.ejs') %>
                    <div class="card__actions">
                        <a href="/workinghours/uploaddata/<%= staff.companyId %>" class="btn">Refresh Data</a>
                    </div>
                    <div class="card__actions">
                        <a href="/workinghours/viewinfo/<%= staff.companyId %>" class="btn">View Details</a>
                        <a href="/workinghours/viewsalary/<%= staff.companyId %>" class="btn">View Salary</a>
                    </div>
                </form>
            </article>
            <article class="card product-table">
                <div>
                    <div class="clearfix">
                        <h3 style="float:left">Hướng dẫn cách sử dụng chức năng tìm kiếm</h3>
                        <form class="product-form" style="float:right" action="/search/keyword/<%= staff.companyId %>" method="GET">
                            <div class="form-control">
                                <input type="string" style="width: 12rem; float: left; height: 2rem" name="keyword" placeholder="keywords">
                                <button class="btn" style="float:right; margin-right: 2rem; height: 2rem" type="submit">Search</button>   
                            </div>
                        </form>
                        <% if (searchError) { %>
                            <h2 class ="btn danger">Cú pháp tìm kiếm chưa chính xác!</h2>
                        <%} %>
                    </div>
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Mẫu tra cứu</th>
                                    <th>Theo tên nhân viên</th>
                                    <th>Theo nơi làm việc</th>
                                    <th>Theo ngày làm việc</th>
                                    <th>Theo tháng làm việc</th>
                                    <th>Lương theo tháng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cú pháp</td>
                                    <td>name={tên nhân viên}</td>
                                    <td>workplace={nơi làm việc}</td>
                                    <td>date={MM/DD/YYYY}</td>
                                    <td>month={MM}</td>
                                    <td>salarymonth={MM-YYYY}</td>
                                </tr>
                                <tr>
                                    <td>Ví dụ</td>
                                    <td>name=Nguyễn Văn B</td>
                                    <td>workplace=Home</td>
                                    <td>date=05/14/2022</td>
                                    <td>month=06</td>
                                    <td>salarymonth=06-2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h5>Sau khi nhập xong, bấm nút Search để bắt đầu tìm</h5>
                    <hr>
                </div>
                <div>
                    <% if (workHoursData) { %>
                    <h2>Chi tiết chấm công trong ngày%></h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Ngày làm việc</th>
                                    <th>Nơi làm việc</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giờ kết thúc</th>
                                    <th>Số giờ làm (trong 1 lần chấm công)</th>
                                </tr>
                            </thead>
                                <tbody>
                                <% for (let dt of staff.details) { %>
                                <tr>
                                    <td><%= new Date(dt.date).toLocaleDateString('en-GB') %></td>
                                    <td><%= dt.workplace %></td>
                                    <td><%= dt.timeStart %></td>
                                    <td><%= dt.timeEnd ? dt.timeEnd : '--' %></td>
                                    <td><%= dt.timeEnd ? parseFloat(dt.workHours).toFixed(2) : 'chưa kết thúc' %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                         
                    <% if (staff.total) { %>
                    <h2>Tổng kết giờ làm</h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Ngày làm việc</th>
                                    <th>Tổng số giờ làm trong ngày</th>
                                    <th>Số giờ đăng kí nghỉ</th>
                                    <th>Số giờ làm thêm</th>
                                    <th>Số giờ làm thiếu</th>
                                </tr>
                            </thead>
                                <tbody>
                                <% for (let tt of staff.total) { %>
                                <tr>
                                    <td><%= new Date(tt.date).toLocaleDateString('en-GB') %></td>
                                    <td><%= parseFloat(tt.totalWorkHours).toFixed(2) %></td>
                                    <td><%= tt.totalOffHours %></td>
                                    <td><%= (tt.totalWorkHours+ tt.totalOffHours) > 8 ? parseFloat(tt.totalWorkHours + tt.totalOffHours - 8).toFixed(2) : 0  %></td>
                                    <td><%= (tt.totalWorkHours+ tt.totalOffHours) < 8 ? parseFloat(8 - tt.totalWorkHours- tt.totalOffHours).toFixed(2) : 0 %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>  
                    <% } %>                       
                    <% } %>
                    <% if (salaryData) { %>
                    <h2>Tổng kết lương%></h2> 
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Tháng</th>
                                    <th>Hệ số lương</th>
                                    <th>Tổng số giờ làm thêm</th>
                                    <th>Tổng số giờ làm thiếu</th>
                                    <th>Lương</th>
                                </tr>
                            </thead>
                                <tbody>
                                <% for (let s of staff.salary) { %>
                                <tr>
                                    <td><%= s.monthOfYear %></td>
                                    <td><%= staff.salaryScale %></td>
                                    <td><%= parseFloat(s.overTime).toFixed(2) %></td>
                                    <td><%= parseFloat(s.underTime).toFixed(2) %></td>
                                    <td><%= (Math.ceil((parseFloat(staff.salaryScale)*3000000 + (s.overTime - s.underTime)*200000)/1000)*1000).toLocaleString() %> VND</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="card__content clearfix">
                            <h3>Công thức tính lương:</h3>
                            <div style="text-align: center"><code>Salary = salaryScale * 3.000.000 + (overTime - underTime) * 200.000</code></div>
                            <h5>Lương được làm tròn lên số nguyên gần nhất hàng nghìn</h5>
                        </div>
                        
                    </div>                         
                    <% } if (error) { %>
                    <div class="card__content clearfix">
                        <h2> Nhân viên chưa thực hiện chấm công. Vui lòng thực hiện chấm công để có dữ liệu giờ làm</h2>
                    </div>
                    <div class="card__actions">
                        <a href="/timekeeping" class="btn">Bắt đầu Checkin</a>
                    </div>
                    <% } %>    
                </div>
            </article>
            
        </div>
    </main>
<%- include('../includes/end.ejs') %>