<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/table.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <% if (data && staff.timekeeping) { %>
                <article class="card product-item">
                    <div class="card__image">
                        <img src="<%= staff.imageUrl %>" alt="<%= staff.name %>">
                    </div>
                    <div class="card__content clearfix">
                        <label for="companyId">Mã nhân viên</label>
                        <input type="text" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
                    </div>
                    <div class="card__content clearfix">
                        <label for="name">Họ tên nhân viên</label>
                        <input type="text" name="name" id="name" value="<%= staff.name %>" readonly>
                    </div>
                    <div class="card__actions">
                        <a href="/workinghours/getworkinghours/<%= staff.companyId %>" class="btn">Get Working Details</a>
                    </div>
                </article>
                <article class="card product-table">
                    <h2>Dữ liệu lương tháng</h2> 
                    <code>Salary = salaryScale * 3.000.000 + (overTime - underTime) * 200.000</code><br>
                    SalaryScale: <%= %>
                </article>
            <% } else {%>
                <div class="card__content clearfix">
                    <h2> Nhân viên chưa thực hiện chấm công. Vui lòng thực hiện chấm công để có dữ liệu lương</h2>
                </div>
                <div class="card__actions">
                    <a href="/timekeeping" class="btn">Bắt đầu Checkin</a>
                </div>
            <% } %>    
        </div>
    </main>
<%- include('../includes/end.ejs') %>