<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <% for (let staff of staffs) { %>
            <article class="card product-item">
                <div class="card__image">
                    <img src="<%= staff.imageUrl %>" alt="<%= staff.name %>">
                </div>
                <div class="card__content clearfix">
                    <label for="companyId">Mã nhân viên</label>
                    <input type="text" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="name">Họ tên nhân viên</label>
                    <input type="text" name="name" id="name" value="<%= staff.name %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="doB">Ngày sinh</label>
                    <input type="date" name="doB" id="doB" value="<%= staff.doB %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="department">Khoa phòng</label>
                    <input type="text" name="department" id="department" value="<%= staff.department %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="annualLeave">Số ngày phép của năm</label>
                    <input type="text" name="annualLeave" id="annualLeave" value="<%= staff.annualLeave %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="salaryScale">Hệ số lương</label>
                    <input type="number" name="salaryScale" id="salaryScale" value="<%= staff.salaryScale %>" readonly>
                </div>
                <div class="card__actions">
                    <a href="/workinghours/info/<%= staff.companyId %>" class="btn">Get Working Hour Details</a>
                </div>
            </article> 
            
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>