<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/status.css">
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (staffs.length > 0) { %> 
            <div class="grid">
                <% for (let staff of staffs) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= staff.name %></h1>
                        </header>
                        <hr>
                        <div class='card__image c-avatar'>
                            <img class='c-avatar__image' src='<%= staff.imageUrl %>' alt='<%= staff.name %>'>
                            <span class='c-avatar__status <% if(staff.status == "Đang làm việc") { %>online<% } else { %>offline<% } %>'></span>
                        </div>
                        <div class="card__status clearfix">
                            <input type="status" name="status" id="status" value="<%= staff.status %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="companyId">Mã nhân viên</label>
                            <input type="companyId" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="doB">Ngày sinh</label>
                            <input type="date" name="doB" id="doB" value="<%= staff.doB %>" readonly>
                        </div>
                        <div class="card__content clearfix">
                            <label for="department">Khoa phòng</label>
                            <input type="text" name="department" id="department" value="<%= staff.department %>" readonly>
                        </div>
                        <div class="card__actions">
                            <a href="/covid/bodytemperature/<%= staff.companyId %>" class="btn">Thân nhiệt</a>
                        </div>
                        <div class="card__actions">
                            <a href="/covid/vaccine/<%= staff.companyId %>" class="btn">Vaccine</a>
                            <a href="/covid/positive/<%= staff.companyId %>" class="btn">Dương tính</a>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Staffs Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>